@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Caveat&family=Great+Vibes&family=Kablammo&family=Lobster&family=Montserrat:wght@200&family=Quicksand&family=Sacramento&family=Satisfy&display=swap');

*{
  margin: 0;
  padding: 0;
  font-family: 'Quicksand', sans-serif;
  overflow-x: hidden;
}